<div class="flex flex-col items-center">
  <label class="text-2xl font-bold my-2" for="">{{title}}</label>

  <form class="py-3" [formGroup]="form">
    <!-- name -->
    <div class="mb-3 w-96">
      <label class="text-base text-gray-700"
          >{{name_input}}</label
      >
      <mat-form-field appearance="outline" class="w-full">

        <input
          matInput
          type="text"
          class="w-full text-base"
          placeholder="{{name_input}}"
          formControlName="name"
          required
          autocomplete="off"
        />
        <mat-error class="text-xs">กรุณากรอก{{name_input}}</mat-error>
      </mat-form-field>
    </div>

      <!-- button -->
      <div class="my-3 flex flex-row justify-center">
        <button type="submit"
        class="mx-2 items-center h-9 w-28 bg-green-500  text-white rounded hover:bg-green-600 transition duration-150 ease-in-out"
        (click)="onSave()"
        >
        บันทึก
      </button>
        <button type="button"
        class="mx-2 items-center h-9 w-28 bg-red-500 text-white rounded hover:bg-red-600 transition duration-150 ease-in-out"
        (click)="onCancel()"
        >
        ยกเลิก
      </button>
      </div>
  </form>
</div>

