<div class="flex flex-col items-center h-full">
  <label class="text-2xl font-bold my-2" for="">ห้องประชุม</label>

  <form class="py-3" [formGroup]="formMeeting">
    <!-- room name -->
    <div class="mb-3 w-96">
      <label class="text-lg form-label inline-block mb-2 text-gray-700"
        >ชื่อห้องประชุม</label
      >
      <input
        type="text"
        class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
        placeholder="ชื่อห้องประชุม"
        formControlName="roomName"
      />
      <div *ngIf="formMeeting.controls['roomName'].invalid && (formMeeting.controls['roomName'].dirty || formMeeting.controls['roomName'].touched)">
        <label *ngIf="formMeeting.controls['roomName'].errors?.['required']" class="text-red-500 text-xs">กรุณากรอกชื่อห้องประชุม</label>
      </div>
    </div>

    <!-- room size -->
      <div class="mb-3 w-96">
        <label class="text-lg form-label inline-block mb-2 text-gray-700"
        >ขนาดห้องประชุม</label
      >
        <select class="form-select
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding bg-no-repeat
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example"
          formControlName="roomSize">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div *ngIf="formMeeting.controls['roomSize'].invalid && (formMeeting.controls['roomSize'].dirty || formMeeting.controls['roomSize'].touched)">
          <label *ngIf="formMeeting.controls['roomSize'].errors?.['required']" class="text-red-500 text-xs">กรุณาระบุขนาดห้องประชุม</label>
        </div>
      </div>
      <!-- room capacity -->
      <div class="mb-3 w-96">
        <label class="text-lg form-label inline-block mb-2 text-gray-700"
          >ความจุห้องประชุม(จำนวนคน)</label
        >
        <input
          type="text"
          class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
          placeholder="ความจุห้องประชุม"
          formControlName="roomCapacity"
          maxlength="4"
        />
        <div *ngIf="formMeeting.controls['roomCapacity'].invalid && (formMeeting.controls['roomCapacity'].dirty || formMeeting.controls['roomCapacity'].touched)">
          <label *ngIf="formMeeting.controls['roomCapacity'].errors?.['required']" class="text-red-500 text-xs">กรุณากรอกความจุห้องประชุม</label>
        </div>
      </div>
      <!-- room status -->
      <div class="mb-3 w-96">
        <label class="text-lg form-label inline-block mb-2 text-gray-700"
        >สถานะห้องประชุม</label>
        <select class="form-select
          block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding bg-no-repeat
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" aria-label="Default select example"
          formControlName="roomStatus">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <div *ngIf="formMeeting.controls['roomStatus'].invalid && (formMeeting.controls['roomStatus'].dirty || formMeeting.controls['roomStatus'].touched)">
          <label *ngIf="formMeeting.controls['roomStatus'].errors?.['required']" class="text-red-500 text-xs">กรุณาระบุสถานะห้องประชุม</label>
        </div>
      </div>
      <div class="flex flex-col">
        <label class="text-lg form-label inline-block mb-2 text-gray-700"
        >รูปภาพ(มากสุด 3 รูปภาพ)</label>
        <label class="" for=""></label>
        <div class="flex flex-row bg-gray-200 h-28 rounded-lg px-1 py-2 w-96">
          <label class="mx-1 relative hover:cursor-pointer" for="">
            <mat-icon class="absolute text-white right-1 top-1 hover:text-red-500 hover:cursor-pointer">delete</mat-icon>
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp">
          </label>
          <label class="mx-1 relative hover:cursor-pointer" for="">
            <mat-icon class="absolute text-white right-1 top-1 hover:text-red-500 hover:cursor-pointer">delete</mat-icon>
            <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
            src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp">
          </label>
          <label class="mx-1" for="">
            <div class="bg-gray-300 hover:bg-gray-400 hover:cursor-pointer xl:w-28 h-full rounded-lg flex justify-center items-center">
              <mat-icon class="text-white">add</mat-icon>
            </div>
          </label>
        </div>
      </div>

      <!-- button -->
      <div class="my-3 flex flex-row justify-center">
        <button type="submit"
        class="mx-2 items-center h-9 w-28 bg-green-500  text-white rounded hover:bg-green-600 transition duration-150 ease-in-out"
        (click)="onSave()"
        >
        บันทึก
      </button>
        <button type="button"
        class="mx-2 items-center h-9 w-28 bg-red-500 text-white rounded hover:bg-red-600 transition duration-150 ease-in-out"
        >
        ยกเลิก
      </button>
      </div>
  </form>
</div>
