<div class="w-full h-auto flex flex-row gap-2">
    <div class="w-1/2 h-4/5 bg-red-500 p-3 flex flex-col">
        <label class="text-lg font-bold my-2">ห้องประชุม 1</label>
        <div class="w-full h-48 flex flex-row bg-slate-300 rounded p-2">
            <img src="../../../assets/images//logo.png" class="w-1/3" />
            <img src="../../../assets/images//logo.png" class="w-1/3" />
            <img src="../../../assets/images//logo.png" class="w-1/3" />
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="w-1/2 h-4/5 bg-yellow-500">
        awdawd
    </div>
</div>
