<div
  class="w-full min-h-screen h-auto bg-youngsalmon flex flex-col items-center"
>
  <div class="w-4/5 h-auto min-h-screen bg-white rounded-lg shadow-lg my-5 p-3">
    <label class="text-black text-xl font-bold my-7">ห้องประชุม</label>
    <div class="flex flex-row flex-wrap my-2 gap-3">
      <div class="w-72 h-auto bg-white rounded-lg shadow-lg flex flex-col" *ngFor="let room of room_list">
        <div class="h-60 rounded-lg" >
          <swiper
          class="h-full w-full rounded-lg"
        [slidesPerView]="1"
        [spaceBetween]="10"
        [navigation]="true"
        [pagination]="{ clickable: true }"
        >
          <ng-template swiperSlide *ngFor="let img of room.gallery">
            <img
            [src]="img"
          />
          </ng-template>
        </swiper>
        </div>
        <div class="p-3">
          <p class="text-gray-900 text-lg font-bold mb-2">{{room.room_name}}</p>
          <p class="text-gray-700 text-base mb-2">ขนาดห้อง: {{room.room_size}}</p>
          <p class="text-gray-700 text-base mb-2">ความจุ: {{room.room_capacity}}</p>
          <p class="text-gray-700 text-base pr-2">
            สถานะห้องประชุม: {{room.room_status}}
          </p>
          <!-- <p class="text-gray-700 text-base pr-2">สถานะการใช้งาน: ว่าง</p> -->
        </div>
      </div>
  </div>

</div>
