<div
  class="w-full min-h-screen h-auto bg-youngsalmon flex flex-col items-center px-2"
>
  <div class="w-full sm:w-4/5 h-auto min-h-screen bg-white rounded-lg shadow-lg my-5 p-3">
    <label class="text-black text-xl font-bold my-7">ห้องประชุม</label>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 my-2 gap-3">
      <div class="w-full h-auto bg-white rounded-lg shadow-lg flex flex-col relative" *ngFor="let room of room_list">
        <div *ngIf="room.room_available == true" class="w-5 h-5 bg-green-500 rounded-full z-10 absolute right-2 top-2 shadow-lg shadow-green-500/50">
        </div>
        <div *ngIf="room.room_available == false" class="w-5 h-5 bg-yellow-500 rounded-full z-10 absolute right-2 top-2 shadow-lg shadow-yellow-500/50">
        </div>
        <div class="h-60 rounded-lg" >
          <swiper
          class="h-full w-full rounded-lg"
        [slidesPerView]="1"
        [spaceBetween]="10"
        [navigation]="true"
        [pagination]="{ clickable: true }"
        >
          <ng-template swiperSlide *ngFor="let img of room.gallery">
            <img
            [src]="img"
          />
          </ng-template>
        </swiper>
        </div>
        <div class="p-3">
          <p class="text-gray-900 text-lg font-bold mb-2">{{room.room_name}}</p>
          <p class="text-gray-700 text-base mb-2">ขนาดห้อง: {{room.room_size}}</p>
          <p class="text-gray-700 text-base mb-2">ความจุ: {{room.room_capacity}}</p>
          <p class="text-gray-700 text-base pr-2">
            สถานะห้องประชุม: {{room.room_status}}
          </p>
          <div class="flex flex-row">
            <p class="text-gray-700 text-base pr-2">สถานะการใช้งาน: </p>
            <p *ngIf="room.room_available == true" class="text-green-500 font-bold text-base pr-2">ว่าง</p>
            <p *ngIf="room.room_available == false" class="text-yellow-500 font-bold text-base pr-2">ยังไม่ว่าง</p>
          </div>

        </div>
      </div>
  </div>

</div>
