<div
  class="w-full min-h-screen h-auto bg-youngsalmon flex flex-col items-center"
>
  <div class="w-4/5 h-auto min-h-screen bg-white rounded-lg shadow-lg my-5 p-5">
    <label class="text-black text-xl font-bold my-5">ห้องประชุม</label>
    <div class="flex flex-row my-2 gap-5">
      <div class="w-64 h-auto bg-white rounded-lg shadow-lg flex flex-col">
        <img
          src="https://i.pinimg.com/736x/31/8c/00/318c003ea7859af794926a595e3c1746.jpg"
          class="rounded h-48"
        />
        <div class="p-3">
          <p class="text-gray-900 text-lg font-bold mb-2">ห้องประชุม 1</p>
          <p class="text-gray-700 text-base mb-2">ขนาดห้อง: เล็ก</p>
          <p class="text-gray-700 text-base mb-2">ความจุ: 10 คน</p>
          <p class="text-gray-700 text-base pr-2">
            สถานะห้องประชุม: พร้อมใช้งาน
          </p>
          <p class="text-gray-700 text-base pr-2">สถานะการใช้งาน: ว่าง</p>
        </div>
      </div>
      <div class="w-64 h-auto bg-white rounded-lg shadow-lg flex flex-col">
        <img
          src="https://i.pinimg.com/736x/31/8c/00/318c003ea7859af794926a595e3c1746.jpg"
          class="rounded h-48"
        />
        <div class="p-3">
          <p class="text-gray-900 text-lg font-bold mb-2">ห้องประชุม 1</p>
          <p class="text-gray-700 text-base mb-2">ขนาดห้อง: เล็ก</p>
          <p class="text-gray-700 text-base mb-2">ความจุ: 10 คน</p>
          <p class="text-gray-700 text-base pr-2">
            สถานะห้องประชุม: พร้อมใช้งาน
          </p>
          <p class="text-gray-700 text-base pr-2">สถานะการใช้งาน: ว่าง</p>
        </div>
      </div>
    </div>
  </div>


</div>
