<div class="w-full h-10 bg-secondary flex flex-row items-center px-2 place-content-between ">
  <div class="flex flex-row justify-center items-center ">
    <i (click)="sideBarToggle()" class="bi bi-list mr-2 font-bold text-xl duration-200 text-white hover:cursor-pointer hover:text-slate-400 hover:scale-125"></i>
    <p class="invisible  lg:visible font-medium text-base text-fourth mt-2">ระบบจองห้องประชุมศูนย์สนับสนุนบริการสุขภาพที่ 7 </p>
  </div>
  <div class="flex flex-row">
    <div class="flex flex-row justify-center items-center invisible lg:visible">
      <img [src]="user?.picture_url" alt="name" class="w-8 h-8 rounded-full mt-0.5 mx-2">
        <p class="m-0 justify-center text-white ">{{user?.f_name}}  {{user?.l_name}}</p>
    </div>
    <a mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger" class="flex justify-center items-center">
      <mat-icon class="mat-icon-sm text-white">keyboard_arrow_down</mat-icon>
  </a>
  </div>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu px-3">
    <span (mouseleave)="userMenuTrigger.closeMenu()">
    <a routerLink="/" class="my-2 flex flex-row items-center hover:cursor-pointer">
      <p class="hover: cursor-pointer hover:text-slate-400 duration-150">ไปยังหน้าผู้ใช้งาน</p>
    </a>
    <a (click)="onLogout()" class="my-2 flex flex-row items-center justify-center hover:cursor-pointer">
      <i class="bi bi-box-arrow-right mr-2 mb-2 hover: cursor-pointer hover:text-slate-400 duration-150"></i>
      <p class="hover: cursor-pointer hover:text-slate-400 duration-150">ออกจากระบบ</p>
    </a>
    </span>
</mat-menu>
</div>
